<!-- footer -->
<section class="footer">   
    <div class="card text-bg-dark mb-3" style="max-width: 100%; height: 200px;">
        <div class="card-header" style="text-align: center;">Copyright ©️ sreerag</div>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">Connect with</h5>
          <p class="card-text" style="text-align: center;">

          </p>
        </div>
      </div>
</section>     
