
        
<h1 style="text-align: center; padding-top: 20px;">Welcome To Home page</h1>

<!-- cards -->
<section class="content">

<div class="cards-c">
    <div class="card text-bg-dark" style="width: 18rem;">
        <img src="/img/one.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-bg-dark" style="width: 18rem;">
        <img src="/img/five.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-bg-dark" style="width: 18rem;">
        <img src="/img/three.jpg" class="card-img-top" alt="..." style="height: 162px;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-bg-dark" style="width: 18rem;">
        <img src="/img/four.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-bg-dark" style="width: 18rem;">
        <img src="/img/two.jpg" class="card-img-top" alt="..." style="height: 162px;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

<div class="cards-c">
    <div class="card text-bg-dark" style="width: 18rem;">
        <img src="/img/one.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-bg-dark" style="width: 18rem;">
        <img src="/img/five.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-bg-dark" style="width: 18rem;">
        <img src="/img/three.jpg" class="card-img-top" alt="..." style="height: 162px;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-bg-dark" style="width: 18rem;">
        <img src="/img/four.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card text-bg-dark" style="width: 18rem;">
        <img src="/img/two.jpg" class="card-img-top" alt="..." style="height: 162px;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>



<div class="container">
<div class="form text-bg-primary">
    <div class="mb-3 " style="margin: 0 30px;">
        <label for="exampleFormControlInput1" class="form-label" style="font-size: 20px;">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" style="width: 50%; ">
    </div>
    <div class="mb-3" style="margin: 0 30px;">
        <label for="exampleFormControlTextarea1" class="form-label" style="font-size: 20px;">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Text here..."></textarea>
    </div>
    <button class="btn btn-outline-success text-white" type="submit" style="border-color: white;margin: 0 30px;">Submit</button>
</div>
</div>


</section>


          <!-- Logout Button
    <div style="text-align: center;">
        <form action="/logout" method="get">
            <button type="submit">Logout</button>
        </form>
    </div> -->




